In [97]:
import pandas
df_hanfu_500_info=pandas.read_json(
    r"D:\fluent_python\load_loler\rank_500_info_20180724.txt",
    lines=True,
    encoding="utf-8")
print(df_hanfu_500_info.head())
print(len(df_hanfu_500_info))

         Win                       champions                 kda       lose  \
0  [4, 3, 2]      [Taliyah, Gragas, Camille]    [3.4, 4.16, 7.2]  [2, 0, 0]
1  [6, 3, 2]          [Irelia, Zoe, LeBlanc]   [3.14, 4.15, 9.5]  [1, 1, 0]
2  [3, 1, 1]           [Pyke, Rakan, Gragas]  [5.44, 1.88, 1.25]  [2, 1, 1]
3  [2, 4, 1]          [Syndra, Zoe, Morgana]  [1.98, 3.78, 10.5]  [7, 3, 0]
4  [3, 1, 2]  [Miss Fortune, Lucian, Soraka]     [2.73, 2.23, 9]  [1, 2, 0]

                                   name           win_rate
0                          veryverycold  [67%, 100%, 100%]
1                               knight8   [86%, 75%, 100%]
2                                cr7god    [60%, 50%, 50%]
3           %EC%84%9D%EC%9B%90%EB%A6%BC   [22%, 57%, 100%]
4  %EC%98%88%EB%A6%AC%EC%82%B4%EB%A0%98   [75%, 33%, 100%]
516

In [98]:
#首先删除哪些champions集合为空list的数据
df_hanfu_500_info=df_hanfu_500_info.drop(
    df_hanfu_500_info.index[df_hanfu_500_info.champions.str.len()<3])
print(df_hanfu_500_info.count())
print(df_hanfu_500_info.head())

Win          515
champions    515
kda          515
lose         515
name         515
win_rate     515
dtype: int64
         Win                       champions                 kda       lose  \
0  [4, 3, 2]      [Taliyah, Gragas, Camille]    [3.4, 4.16, 7.2]  [2, 0, 0]
1  [6, 3, 2]          [Irelia, Zoe, LeBlanc]   [3.14, 4.15, 9.5]  [1, 1, 0]
2  [3, 1, 1]           [Pyke, Rakan, Gragas]  [5.44, 1.88, 1.25]  [2, 1, 1]
3  [2, 4, 1]          [Syndra, Zoe, Morgana]  [1.98, 3.78, 10.5]  [7, 3, 0]
4  [3, 1, 2]  [Miss Fortune, Lucian, Soraka]     [2.73, 2.23, 9]  [1, 2, 0]

                                   name           win_rate
0                          veryverycold  [67%, 100%, 100%]
1                               knight8   [86%, 75%, 100%]
2                                cr7god    [60%, 50%, 50%]
3           %EC%84%9D%EC%9B%90%EB%A6%BC   [22%, 57%, 100%]
4  %EC%98%88%EB%A6%AC%EC%82%B4%EB%A0%98   [75%, 33%, 100%]

In [99]:
#缺失的数据集
df_missed=df_hanfu_500_info[df_hanfu_500_info.champions.str.get(-1)==""]
#不缺失的数据集
df_completed=df_hanfu_500_info[df_hanfu_500_info.champions.str.get(-1)!=""]
#分别打印数据完整和不完整的数据：
print("completed:",len(df_completed))
print("missed:",len(df_missed))
#打印缺失数据中的不重复数据
print("unduplicating data in missed data：",len(df_missed.name.unique()))
#打印缺失数据中与完整数据重复的缺失数据
print("duplicated missing data in completed data：",
      len([x for x in df_missed.name if x in df_completed.name]))

completed: 476
missed: 39
unduplicating data in missed data： 20
duplicated missing data in completed data： 0

In [100]:
df_hanfu_500_info.drop_duplicates("name",inplace=True)
print(df_hanfu_500_info.head())
print(len(df_hanfu_500_info))

         Win                       champions                 kda       lose  \
0  [4, 3, 2]      [Taliyah, Gragas, Camille]    [3.4, 4.16, 7.2]  [2, 0, 0]
1  [6, 3, 2]          [Irelia, Zoe, LeBlanc]   [3.14, 4.15, 9.5]  [1, 1, 0]
2  [3, 1, 1]           [Pyke, Rakan, Gragas]  [5.44, 1.88, 1.25]  [2, 1, 1]
3  [2, 4, 1]          [Syndra, Zoe, Morgana]  [1.98, 3.78, 10.5]  [7, 3, 0]
4  [3, 1, 2]  [Miss Fortune, Lucian, Soraka]     [2.73, 2.23, 9]  [1, 2, 0]

                                   name           win_rate
0                          veryverycold  [67%, 100%, 100%]
1                               knight8   [86%, 75%, 100%]
2                                cr7god    [60%, 50%, 50%]
3           %EC%84%9D%EC%9B%90%EB%A6%BC   [22%, 57%, 100%]
4  %EC%98%88%EB%A6%AC%EC%82%B4%EB%A0%98   [75%, 33%, 100%]
496

In [101]:
df_hanfu_500_info.index=df_hanfu_500_info.name
for cols in df_hanfu_500_info.columns:
    for num,i in enumerate("123"):
        item=cols+"_"+i
        df_hanfu_500_info[item]=df_hanfu_500_info[cols].str.get(num)
df_hanfu_500_info=df_hanfu_500_info.drop(
    ["Win","champions","kda","lose","name","win_rate","name_1","name_2","name_3"],
    axis=1)
df_hanfu_500_info.head()

,Win_1,Win_2,Win_3,champions_1,champions_2,champions_3,kda_1,kda_2,kda_3,lose_1,lose_2,lose_3,win_rate_1,win_rate_2,win_rate_3
name,,,,,,,,,,,,,,,
veryverycold,4,3,2,Taliyah,Gragas,Camille,3.4,4.16,7.2,2,0,0,67%,100%,100%
knight8,6,3,2,Irelia,Zoe,LeBlanc,3.14,4.15,9.5,1,1,0,86%,75%,100%
cr7god,3,1,1,Pyke,Rakan,Gragas,5.44,1.88,1.25,2,1,1,60%,50%,50%
%EC%84%9D%EC%9B%90%EB%A6%BC,2,4,1,Syndra,Zoe,Morgana,1.98,3.78,10.5,7,3,0,22%,57%,100%
%EC%98%88%EB%A6%AC%EC%82%B4%EB%A0%98,3,1,2,Miss Fortune,Lucian,Soraka,2.73,2.23,9,1,2,0,75%,33%,100%

,Win_1,Win_2,Win_3,champions_1,champions_2,champions_3,kda_1,kda_2,kda_3,lose_1,lose_2,lose_3,win_rate_1,win_rate_2,win_rate_3
name,,,,,,,,,,,,,,,
dwgshowmaker,4,2,2,诡术妖姬,暗黑元首,疾风剑豪,8.57,3.19,2.64,0,1,1,100%,67%,67%
%EC%95%84%EC%9D%B4%EA%B1%B0%EB%98%90%EC%96%B4%EC%9A%B0,6,2,1,血港鬼影,暮光之眼,幻翎,3.83,2.67,2,3,1,2,67%,67%,33%
zibisup,0,2,2,暮光之眼,幻翎,诺克萨斯统领,1.05,6.88,6.83,4,1,1,0%,67%,67%
ljljljlj,2,2,0,圣枪游侠,符文法师,猩红收割者,1.79,2.29,1.47,2,0,2,50%,100%,0%
seeuag,3,2,1,永猎双子,酒桶,岩雀,4.23,3.36,3.75,0,1,1,100%,67%,50%

In [87]:
#胜率跟使用的英雄有关系吗？
df_hanfu_500_info["win_rate_1(%)"]=df_hanfu_500_info.win_rate_1.str.extract("(\d+)")
df_hanfu_500_info["win_rate_2(%)"]=df_hanfu_500_info.win_rate_2.str.extract("(\d+)")
df_hanfu_500_info["win_rate_3(%)"]=df_hanfu_500_info.win_rate_3.str.extract("(\d+)")
df_hanfu_500_info=df_hanfu_500_info.drop(["win_rate_1","win_rate_2","win_rate_3"],axis=1)
df_hanfu_500_info.head()

H:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

H:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  This is separate from the ipykernel package so we can avoid doing imports until
H:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  after removing the cwd from sys.path.

,Win_1,Win_2,Win_3,champions_1,champions_2,champions_3,kda_1,kda_2,kda_3,lose_1,lose_2,lose_3,win_rate_1(%),win_rate_2(%),win_rate_3(%)
name,,,,,,,,,,,,,,,
dwgshowmaker,4,2,2,诡术妖姬,暗黑元首,疾风剑豪,8.57,3.19,2.64,0,1,1,100,67,67
%EC%95%84%EC%9D%B4%EA%B1%B0%EB%98%90%EC%96%B4%EC%9A%B0,6,2,1,血港鬼影,暮光之眼,幻翎,3.83,2.67,2,3,1,2,67,67,33
zibisup,0,2,2,暮光之眼,幻翎,诺克萨斯统领,1.05,6.88,6.83,4,1,1,0,67,67
ljljljlj,2,2,0,圣枪游侠,符文法师,猩红收割者,1.79,2.29,1.47,2,0,2,50,100,0
seeuag,3,2,1,永猎双子,酒桶,岩雀,4.23,3.36,3.75,0,1,1,100,67,50

In [102]:
for col in df_hanfu_500_info.columns[:3]:
     df_hanfu_500_info[col]=df_hanfu_500_info[col].astype("float")
for col in df_hanfu_500_info.columns[6:]:
     df_hanfu_500_info[col]=df_hanfu_500_info[col].astype("float")
df_hanfu_500_info.head()

ValueError: could not convert string to float: 'Perfect'

In [122]:
print("----")
# print(type(df_hanfu_500_info["kda_1"].str))
print("----")
print(type(df_hanfu_500_info["kda_2"].str))
print("----")
print(type(df_hanfu_500_info["kda_3"].str))

----
----
<class 'pandas.core.strings.StringMethods'>
----
<class 'pandas.core.strings.StringMethods'>

In [126]:
print(len(df_hanfu_500_info[df_hanfu_500_info["kda_2"].str.contains("[a-zA-Z]+")]))
print(len(df_hanfu_500_info[df_hanfu_500_info["kda_3"].str.contains("[a-zA-Z]+")]))

5
6

In [127]:
champions_1_list_kda=df_hanfu_500_info.loc[:,["champions_1","kda_1"]]
champions_2_list_kda=df_hanfu_500_info.loc[:,["champions_2","kda_2"]]
champions_3_list_kda=df_hanfu_500_info.loc[:,["champions_3","kda_3"]]
print(champions_1_list_kda.head())
print(champions_2_list_kda.head())
print(champions_3_list_kda.head())

                                       champions_1  kda_1
name
veryverycold                               Taliyah   3.40
knight8                                     Irelia   3.14
cr7god                                        Pyke   5.44
%EC%84%9D%EC%9B%90%EB%A6%BC                 Syndra   1.98
%EC%98%88%EB%A6%AC%EC%82%B4%EB%A0%98  Miss Fortune   2.73
                                     champions_2 kda_2
name
veryverycold                              Gragas  4.16
knight8                                      Zoe  4.15
cr7god                                     Rakan  1.88
%EC%84%9D%EC%9B%90%EB%A6%BC                  Zoe  3.78
%EC%98%88%EB%A6%AC%EC%82%B4%EB%A0%98      Lucian  2.23
                                     champions_3 kda_3
name
veryverycold                             Camille   7.2
knight8                                  LeBlanc   9.5
cr7god                                    Gragas  1.25
%EC%84%9D%EC%9B%90%EB%A6%BC              Morgana  10.5
%EC%98%88%EB%A6%AC%EC%82%B4%EB%A0%98      Soraka     9

In [145]:
champions_1_list_kda.columns=["champions","kda"]
champions_2_list_kda.columns=["champions","kda"]
champions_3_list_kda.columns=["champions","kda"]
Cham_list_kda=champions_1_list_kda.append(champions_3_list_kda).append(champions_3_list_kda)
Cham_list_kda.head()

                                         champions   kda
name
veryverycold                               Taliyah   3.4
knight8                                     Irelia  3.14
cr7god                                        Pyke  5.44
%EC%84%9D%EC%9B%90%EB%A6%BC                 Syndra  1.98
%EC%98%88%EB%A6%AC%EC%82%B4%EB%A0%98  Miss Fortune  2.73

In [146]:
Cham_list_kda=Cham_list_kda.drop(
   Cham_list_kda.index[Cham_list_kda.kda.str.contains("[a-zA-Z]+")==True]
)
Cham_list_kda=Cham_list_kda.drop(
   Cham_list_kda.index[Cham_list_kda.champions.str.contains("[\w]+")==False]
)
Cham_list_kda.head()

                                         champions   kda
name
veryverycold                               Taliyah   3.4
knight8                                     Irelia  3.14
cr7god                                        Pyke  5.44
%EC%84%9D%EC%9B%90%EB%A6%BC                 Syndra  1.98
%EC%98%88%EB%A6%AC%EC%82%B4%EB%A0%98  Miss Fortune  2.73

In [147]:
import numpy as np
Cham_list_kda["kda"]=Cham_list_kda["kda"].astype("float")
Cham_list_kda=Cham_list_kda.groupby("champions")\
    ["kda"].aggregate({"count":len,"mean":np.mean})
Cham_list_kda.head()

D:\anaconda\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

           count      mean
champions
Aatrox      47.0  3.914894
Ahri         3.0  5.196667
Akali        1.0  3.460000
Alistar     31.0  3.101613
Anivia       5.0  4.242000

In [154]:
df_hanfu_500_info["win_rate_1(%)"]=df_hanfu_500_info["win_rate_1"].str.extract("(\d+)")
df_hanfu_500_info["win_rate_2(%)"]=df_hanfu_500_info["win_rate_2"].str.extract("(\d+)")
df_hanfu_500_info["win_rate_3(%)"]=df_hanfu_500_info["win_rate_3"].str.extract("(\d+)")
df_hanfu_500_info=df_hanfu_500_info.drop(["win_rate_1","win_rate_2","win_rate_3"],axis=1)
for col in df_hanfu_500_info.columns[:3]:
     df_hanfu_500_info[col]=df_hanfu_500_info[col].astype("int")
for col in df_hanfu_500_info.columns[9:]:
     df_hanfu_500_info[col]=df_hanfu_500_info[col].astype("float")
df_hanfu_500_info["sum_1"]=df_hanfu_500_info["Win_1"]+df_hanfu_500_info["lose_1"]
df_hanfu_500_info["sum_2"]=df_hanfu_500_info["Win_2"]+df_hanfu_500_info["lose_2"]
df_hanfu_500_info["sum_3"]=df_hanfu_500_info["Win_3"]+df_hanfu_500_info["lose_3"]
df_hanfu_500_info.head()

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.
D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  This is separate from the ipykernel package so we can avoid doing imports until

,Win_1,Win_2,Win_3,champions_1,champions_2,champions_3,kda_1,kda_2,kda_3,lose_1,lose_2,lose_3,win_rate_1(%),win_rate_2(%),win_rate_3(%),sum_1,sum_2,sum_3
name,,,,,,,,,,,,,,,,,,
veryverycold,4,3,2,Taliyah,Gragas,Camille,3.40,4.16,7.2,2.0,0.0,0.0,67.0,100.0,100.0,6.0,3.0,2.0
knight8,6,3,2,Irelia,Zoe,LeBlanc,3.14,4.15,9.5,1.0,1.0,0.0,86.0,75.0,100.0,7.0,4.0,2.0
cr7god,3,1,1,Pyke,Rakan,Gragas,5.44,1.88,1.25,2.0,1.0,1.0,60.0,50.0,50.0,5.0,2.0,2.0
%EC%84%9D%EC%9B%90%EB%A6%BC,2,4,1,Syndra,Zoe,Morgana,1.98,3.78,10.5,7.0,3.0,0.0,22.0,57.0,100.0,9.0,7.0,1.0
%EC%98%88%EB%A6%AC%EC%82%B4%EB%A0%98,3,1,2,Miss Fortune,Lucian,Soraka,2.73,2.23,9,1.0,2.0,0.0,75.0,33.0,100.0,4.0,3.0,2.0

In [174]:
champions_1_list_win_rate=df_hanfu_500_info.loc[:,["champions_1","win_rate_1(%)"]]
champions_2_list_win_rate=df_hanfu_500_info.loc[:,["champions_2","win_rate_2(%)"]]
champions_3_list_win_rate=df_hanfu_500_info.loc[:,["champions_3","win_rate_3(%)"]]

champions_1_list_sum=df_hanfu_500_info.loc[:,["champions_1","sum_1"]]
champions_2_list_sum=df_hanfu_500_info.loc[:,["champions_2","sum_2"]]
champions_3_list_sum=df_hanfu_500_info.loc[:,["champions_3","sum_3"]]

champions_1_list_win_rate.columns=["champions","wr"]
champions_2_list_win_rate.columns=["champions","wr"]
champions_3_list_win_rate.columns=["champions","wr"]

champions_1_list_sum.columns=["champions","sum_n"]
champions_2_list_sum.columns=["champions","sum_n"]
champions_3_list_sum.columns=["champions","sum_n"]

Cham_list_WinRate=champions_1_list_win_rate.\
append(champions_2_list_win_rate).append(champions_3_list_win_rate)

Cham_list_sum=champions_1_list_sum.\
append(champions_2_list_sum).append(champions_3_list_sum)

In [175]:
#删除champions为空的行
Cham_list_WinRate=Cham_list_WinRate.drop(
   Cham_list_WinRate.index[Cham_list_WinRate.champions.str.contains("[\w]+")==False])
Cham_list_sum=Cham_list_sum.drop(
   Cham_list_sum.index[Cham_list_sum.champions.str.contains("[\w]+")==False])
#分类统计
Cham_list_WinRate=Cham_list_WinRate.groupby("champions")\
["wr"].aggregate({"count":len,"mean":np.mean})
Cham_list_Sum=Cham_list_sum.groupby("champions")\
["sum_n"].aggregate({"count":len,"mean":np.mean})

In [177]:

#打印结果
print(Cham_list_WinRate.head())
print(Cham_list_Sum.head())
print(Cham_list_kda.head())

           count       mean
champions
Aatrox      41.0  68.097561
Ahri         2.0  87.500000
Akali        1.0  70.000000
Alistar     29.0  56.344828
Anivia       3.0  58.000000
           count       mean
champions
Aatrox      41.0   3.512195
Ahri         2.0   2.500000
Akali        1.0  10.000000
Alistar     29.0   4.344828
Anivia       3.0   7.000000
           count      mean
champions
Aatrox      47.0  3.914894
Ahri         3.0  5.196667
Akali        1.0  3.460000
Alistar     31.0  3.101613
Anivia       5.0  4.242000

In [195]:
# 平均胜率榜单前十
Cham_list_WinRate.sort_values("mean",ascending=False)[:20]

              count        mean
champions
Kha'Zix         1.0  100.000000
Leona           1.0  100.000000
Jarvan IV       4.0  100.000000
Zac             1.0  100.000000
Sion            1.0  100.000000
Pantheon        1.0  100.000000
Nami            3.0   89.000000
Ahri            2.0   87.500000
Cassiopeia      2.0   87.500000
Renekton        5.0   85.600000
Blitzcrank      2.0   83.500000
Rengar          2.0   81.500000
Rumble          8.0   81.250000
Tahm Kench     11.0   81.090909
Lulu            4.0   80.250000
Kassadin        5.0   78.000000
Corki           2.0   75.000000
Rek'Sai         2.0   75.000000
Heimerdinger    3.0   75.000000
Wukong          1.0   75.000000

In [217]:
Cham_list_WinRate[Cham_list_WinRate["count"].\
                  apply(lambda x: x>25)].\
            sort_values("mean",ascending=False)[:20]

           count       mean
champions
Aatrox      41.0  68.097561
Swain       39.0  66.974359
Jayce       28.0  66.428571
Taliyah     61.0  66.016393
LeBlanc     28.0  65.642857
Lucian      39.0  64.205128
Shen        41.0  62.634146
Orianna     31.0  62.096774
Morgana     46.0  60.804348
Ryze        40.0  60.450000
Rakan       53.0  58.245283
Gragas      64.0  57.750000
Camille     63.0  57.301587
Zoe         35.0  57.057143
Ezreal      36.0  56.666667
Alistar     29.0  56.344828
Gangplank   28.0  56.035714
Kindred     46.0  55.804348
Yasuo       39.0  54.025641
Pyke        51.0  53.980392

In [213]:
Cham_list_kda[Cham_list_kda["count"].\
                  apply(lambda x: x>25)].\
            sort_values("mean",ascending=False)[:20]

           count      mean
champions
Rakan       51.0  5.794118
LeBlanc     30.0  4.778333
Morgana     48.0  4.306250
Pyke        42.0  4.286667
Aatrox      47.0  3.914894
Shen        40.0  3.857250
Vladimir    41.0  3.855610
Orianna     28.0  3.842500
Swain       36.0  3.785556
Kled        27.0  3.696296
Ezreal      37.0  3.514865
Taliyah     55.0  3.384182
Ryze        44.0  3.297955
Kindred     45.0  3.293333
Gangplank   28.0  3.180714
Lucian      30.0  3.176000
Alistar     31.0  3.101613
Zoe         31.0  2.910968
Camille     54.0  2.896296
Gragas      60.0  2.820500

In [242]:
Cham_list_Sum.sort_values("mean",ascending=False)[:10]

           count   mean
champions
Garen        1.0  14.00
Katarina     3.0  12.00
Akali        1.0  10.00
Illaoi       2.0   9.50
Fizz         2.0   8.50
Jinx         4.0   8.25
Ziggs        1.0   8.00
Shaco        1.0   8.00
Jax          4.0   7.25
Karthus      8.0   7.25

In [236]:
df_hanfu_500_info[df_hanfu_500_info["champions_3"].str.extract("([\w']+)")=="Kha'Zix"]

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

,Win_1,Win_2,Win_3,champions_1,champions_2,champions_3,kda_1,kda_2,kda_3,lose_1,lose_2,lose_3,win_rate_1(%),win_rate_2(%),win_rate_3(%),sum_1,sum_2,sum_3
name,,,,,,,,,,,,,,,,,,
twitchmurthhlol,9,1,1,Evelynn,Hecarim,Kha'Zix,3.19,3.19,4.5,3.0,3.0,0.0,75.0,25.0,100.0,12.0,4.0,1.0

In [ ]:
""